@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

h1 {
  color: #545454;
  font-family: 'Coming Soon', cursive;
  font-size: 2.5rem;
  margin-bottom: 0;
}

img {
  height: 350px;
  width: 350px;
}

ul {
  width: 300px;
  height: 15px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  padding: 0;
}

.Alphabet {
  width: 650px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px auto;
}

button {
  font-size: 30px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Coming Soon', cursive;
  font-size: 1.75rem;
}

button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
